/*
    Universal selector
    *
*/

* {
  color: black;
  padding: 5px;
}
#title {
  background-color: hsl(120, 60%, 70%);
}

#title .content,
#title .subsection.paragraph {
  background-color: hsl(120, 100%, 25%);
  padding: 10px;
}

p {
  color: white;
  font: 15px "Roboto", sans serif;
}
